{% extends "base.html" %}

{% block content %}
<div id="patients_container">
  <h1>Add New Patient</h1>
  <form method="POST" action="/patients">
    {{ form.hidden_tag() }}
    <label for="name">Patient Name:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="dob">Date of Birth (YYYY-MM-DD):</label>
    <input type="date" id="dob" name="dob" required><br><br>
    
    <label for="status_id">Status:</label>
    <select id="status_id" name="status_id" required>
      {% for status in statuses %}
        <option value="{{ status.status_id }}">{{ status.status_name }}</option>
      {% endfor %}
    </select><br><br>
    <button class = "btn"type="button" onclick="history.back()">Back</button>

    <input class = "btn" type="submit" value="Add Patient">
  </form>

  {% if message %}
    <p>{{ message }}</p>
  {% endif %}
</div>
{% endblock %}