<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Patient File Tracking{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>

    <div class="container">
    
        <header>
            <h1>Patient File Tracking System</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li> <span style = "font-size: 28px;">|</span> 
                    <li><a href="{{ url_for('patients') }}">Patients</a></li>

                    <!-- add another one for modifying staff records accessible to the superuser only-->
                
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}Stuff goes here{% endblock %}
        </main>
        <footer>
            <p>&copy; 2025 Patient File Tracking System</p>
        </footer>
    </div>