{% extends "base.html" %}

{% block content %}
  <div class = "dashboard">
  <div class = "section"> <!-- Files Out-->
    <h2>Files Out</h2>
    {% if out_files %}
        <table>
            <tr>
                <th>File Number</th>
                <th>Patient Name</th>
                <th>Check_out Timestamp</th>
                
                
            </tr>
            {% for file in out_files %}
            <tr>
                <td>{{ file[0].patient_name }}</td>
                <td>{{ file[0].file_no }}</td>
                <td>{{file[1].latest_timestamp}}</td>

            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No files are currently checked out.</p>
    {% endif %}

  </div>

  <div class = "section"> <!-- Overdue Files -->
    <h2>Overdue Files</h2>
    {% if overdue_files %}
        <table>
            <tr>
                <th>Patient Name</th>
                <th>File Number</th>
                <th>Due Date</th>
                
            </tr>
            {% for file in overdue_files %}
            <tr>
                <td>{{ file.patient_name }}</td>
                <td>{{ file.file_no }}</td>
                <td>{{ file.timestamp}}</td> <!-- Timestamp +24hrs to show due dat -->
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No files currently overdue.</p>
    {% endif %}
  </div>
  </div>
{% endblock %}