html,body {
    height: 100%;
    margin: 0;
}

header,footer{
    background-color: #203c69;
    color: white;
    padding: 10px 0;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    width: 100%;
    position: relative;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    
}
nav li {
    margin: 0 15px;
    padding: 10px 15px;
    background-color: #b8c9e5;
    color:#203c69
}
nav a {
    text-decoration: none;
    color: inherit;
}
body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e8e7e7;
    color: #333;
}
.container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
.dashboard{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 100%
}
.section{
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    height: 100%
}

#patients_container{
    text-align: center;  
}

.btn {
 background-color: #4988c3; /* Green background */
 border: none; /* Remove default border */
 color: white; /* White text */
 padding: 14px 28px; /* Space inside button */
 text-align: center;
 font-size: 16px;
 border-radius: 8px; /* Rounded corners */
 cursor: pointer; /* Pointer on hover */
 transition: background-color 0.3s, transform 0.2s; /* Smooth effects */
}
.btn:hover {
 background-color: #190aef; /* Darker green on hover */
 transform: translateY(-2px); /* Slight lift effect */
}
.btn:active {
 transform: translateY(0); /* Pressed effect */
}